In [1]:
#import des bibliothèques
import numpy as np
import pandas as pd #parcequ'on est pas des PD nous
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from plotly.offline import plot, iplot, init_notebook_mode
init_notebook_mode(connected=True)

In [2]:
#import de l'ensemble des données
df_2017 = pd.read_csv('valeursfoncieres-2017.txt', sep="|",low_memory=False,decimal=',')
df_2018 = pd.read_csv('valeursfoncieres-2018.txt', sep="|",low_memory=False,decimal=',')
df_2019 = pd.read_csv('valeursfoncieres-2019.txt', sep="|",low_memory=False,decimal=',')
df_2020 = pd.read_csv('valeursfoncieres-2020.txt', sep="|",low_memory=False,decimal=',')
df_2021 = pd.read_csv('valeursfoncieres-2021.txt', sep="|",low_memory=False,decimal=',')

In [5]:
#affichage des 5 premiers élément du dataframe 2017
df_2017.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3484952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/12/2020,Vente,...,NaN,0,2.0,Appartement,NaN,22.0,1.0,S,NaN,447.0
3484953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/12/2020,Vente,...,NaN,0,4.0,Local industriel. commercial ou assimilé,NaN,100.0,0.0,S,NaN,447.0
3484954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/12/2020,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,447.0
3484955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/12/2020,Vente,...,NaN,0,2.0,Appartement,NaN,87.0,4.0,S,NaN,447.0
3484956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/10/2020,Adjudication,...,NaN,2,2.0,Appartement,NaN,21.0,1.0,NaN,NaN,NaN

In [6]:
#petite fonction qui permet de vérifier si une colonne ne contient aucun élément et dans ce cas cette dernière est supprimé
def ColonneVide(df):
    nunique = df.nunique()
    compteur = 0
    for i in df.columns:
        if nunique[compteur] == 0:
            del df[i]
        compteur += 1
    return df

In [7]:
#on supprime les colonnes vides
df_2017 = ColonneVide(df_2017)
df_2018 = ColonneVide(df_2018)
df_2019 = ColonneVide(df_2019)
df_2020 = ColonneVide(df_2020)
df_2021 = ColonneVide(df_2021)

In [8]:
df_2020

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,07/01/2020,Vente,8000.0,NaN,NaN,NaN,B063,FORTUNAT,1250.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,1,02/01/2020,Vente,2175.0,NaN,NaN,NaN,B124,TERRES DES CINQ SAULES,1290.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,BT,NaN,85.0
2,1,02/01/2020,Vente,2175.0,NaN,NaN,NaN,B006,BOIS DU CHAMP RION,1290.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,T,NaN,1115.0
3,1,02/01/2020,Vente,2175.0,NaN,NaN,NaN,B025,EN COROBERT,1290.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,T,NaN,1940.0
4,1,02/01/2020,Vente,2175.0,NaN,NaN,NaN,B124,TERRES DES CINQ SAULES,1290.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,T,NaN,1148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3484952,1,16/12/2020,Vente,1937500.0,24.0,NaN,RUE,1748,CHANOINESSE,75004.0,...,NaN,NaN,0,2.0,Appartement,22.0,1.0,S,NaN,447.0
3484953,1,16/12/2020,Vente,1937500.0,24.0,NaN,RUE,1748,CHANOINESSE,75004.0,...,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,100.0,0.0,S,NaN,447.0
3484954,1,16/12/2020,Vente,1937500.0,24.0,NaN,RUE,1748,CHANOINESSE,75004.0,...,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,NaN,447.0
3484955,1,16/12/2020,Vente,1937500.0,24.0,NaN,RUE,1748,CHANOINESSE,75004.0,...,NaN,NaN,0,2.0,Appartement,87.0,4.0,S,NaN,447.0
3484956,1,08/10/2020,Adjudication,255000.0,39.0,NaN,RUE,8752,SAINT-SAUVEUR,75002.0,...,NaN,NaN,2,2.0,Appartement,21.0,1.0,NaN,NaN,NaN